{% extends "market/layout.html" %}

{% block body %}
<h2>Cart</h2>
<hr>
<button style="margin-bottom: 50px;" type="button" class="btn btn-primary" onclick="openPaymentModal()">Click to pay</button>

<div id="paymentModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" onclick="closePaymentModal()">&times;</button>
            <div class="container-fluid">
                <div class="form-group">
                    <label for="currencyDropdown">Choose Currency</label>
                    <select id="currencyDropdown" class="form-control">
                        <option value="" selected disabled>Select Currency</option>
                        {% for currency in flutterwaveCurrencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button onclick="updateFlutterwaveCurrency()" class="btn btn-primary">Apply Currency</button>
                    {% for currency, total_amount in amount.items %}
                        <ul>
                            <li>
                                <p>Total Amount ({{ currency }}): <span id="total_amount_{{ currency }}">{{ total_amount }}</span></p>
                                <button type="button" class="btn btn-primary" onclick="makePayment('{{ total_amount }}', '{{ currency }}')">Pay Now</button>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- Display all listings in watchlist -->
<div class="row mx-3">
    {% for item in items %}
        <!-- Display each listing as a card -->
        <div class="card" style="width: 18rem;">
            <!-- Display the first listing image -->
            {% if item.images.exists %}
                <img class="card-img-top" src="{{ item.images.first.image.url }}" alt="{{ item.title }}">
            {% endif %}
            <div class="card-body">
                <!-- Display listing title and description -->
                <p>{{item.title}}</p>

                <!-- Display current bid price -->
                <p class="card-text"><strong>{{ item.currency }}{{ item.price|floatformat:2 }}</strong></p>
                <!-- Link to the listing page -->
                <a href="{% url 'item' item.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    {% endfor %}
</div>

    <script>
        let selectedCurrency;
        const public_key = "FLWPUBK-08d20d0feff3361e83c58475eb02db0d-X";
        const secret_key = "FLWSECK-08d9ca9c3fc1ba2231d287fb0833d4be-1893a3ad5advt-X";
        const currencyDropdown = document.getElementById("currencyDropdown");

        function makePayment(totalAmount, currency) {
            const amount = parseFloat(totalAmount);
            const userEmail = "{{ user.email }}";
            const userName = "{{ user.username }}";
            const listing_id = "{{ items.id }}";
            const id = listing_id;
            const listing_currency = currency;
            let otp;

            const selectedCurrency = currencyDropdown.value;

            // Fetch the currency conversion rate from the ExchangeRate API
            fetch(`https://v6.exchangerate-api.com/v6/c39ce07e90bde74fa5a8ac76/latest/${listing_currency}`)
                .then(response => response.json())
                .then(data => {
                    // Get the conversion rate for the selected currency
                    const conversionRate = data.conversion_rates[selectedCurrency];
                    const convertedAmount = amount * conversionRate;
                    const tx_ref = `market-${listing_id}-${Date.now()}`;

                    FlutterwaveCheckout({
                        public_key: public_key,
                        tx_ref: tx_ref,
                        amount: convertedAmount,
                        currency: selectedCurrency,
                        payment_options: "card, banktransfer, ussd",
                        redirect_url: "https://inetwork.pythonanywhere.com/market/pay/" + tx_ref,
                        meta: {
                            consumer_id: "YOUR_CONSUMER_ID", // Replace "YOUR_CONSUMER_ID" with the actual value
                            consumer_mac: "92a3-912ba-1192a",
                        },
                        customer: {
                            email: userEmail,
                            phone_number: "08102909304",
                            name: userName,
                        },
                        customizations: {
                            title: "iNetwork",
                            description: "Payment for an awesome cruise",
                            logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
                        },
                    });

                    flutterOtp();
                    validateOtp();
                });
        }

        function flutterOtp() {
            const data = JSON.stringify({
                length: 7,
                customer: {
                    name: "Flutterwave Developers",
                    email: "developers@flutterwavego.com",
                    phone: "2348000000000",
                },
                sender: "Flutterwave Inc.",
                send: true,
                medium: ["email", "whatsapp"],
                expiry: 5,
            });

            const url = "https://api.flutterwave.com/v3/otps";
            const headers = {
                Authorization: secret_key,
                "Content-Type": "application/json",
            };

            const config = {
                method: "POST",
                headers: headers,
                body: data,
            };

            fetch(url, config)
                .then((response) => response.json())
                .then((data) => {
                    console.log(JSON.stringify(data));
                })
                .catch((error) => {
                    console.log(error);
                });
        }

        function validateOtp() {
            const data = JSON.stringify({
                otp: "481208",
            });

            const url = "https://api.flutterwave.com/v3/otps/:reference/validate";
            const headers = {
                Authorization: secret_key,
                "Content-Type": "application/json",
            };

            const config = {
                method: "POST",
                headers: headers,
                body: data,
            };

            fetch(url, config)
                .then((response) => response.json())
                .then((data) => {
                    console.log(JSON.stringify(data));
                })
                .catch((error) => {
                    console.log(error);
                });
        }

        function updateFlutterwaveCurrency() {
            selectedCurrency = currencyDropdown.value;
            const amount = "{{ items.price }}";
            const listing_currency = "{{ items.currency }}";

            // Fetch the currency conversion rate from the ExchangeRate API
            fetch(`https://v6.exchangerate-api.com/v6/c39ce07e90bde74fa5a8ac76/latest/${listing_currency}`)
                .then(response => response.json())
                .then(data => {
                    // Get the conversion rate for the selected currency
                    const conversionRate = data.conversion_rates[selectedCurrency];
                    const convertedAmount = amount * conversionRate;

                    document.getElementById("payment-amount").innerHTML = `Amount: ${selectedCurrency} ${convertedAmount.toFixed(2)}`;
                });
        }

        function openPaymentModal() {
            // Get the modal element
            var modal = document.getElementById("paymentModal");

            // Show the modal
            modal.style.display = "block";
        }

        function closePaymentModal() {
            // Get the modal element
            var modal = document.getElementById("paymentModal");

            // Hide the modal
            modal.style.display = "none";
        }
    </script>
</div>
{% endblock %}
