{% extends "auctions/layout.html" %}
{% block body %}
 <!-- Display all active listings -->
 <div class="row mt-3">
        {% for listing in listings %}
            <!-- Display each listing as a card -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Display the first listing image -->
                    {% if listing.images.exists %}
                        <img class="card-img-top" src="{{ listing.images.first.image.url }}" alt="{{ listing.title }}">
                    {% endif %}
                    <div class="card-body">
                        <!-- Display listing title and description -->
                        {% with truncated_text=listing.title|slice:":50" %}
                            <h5 class="card-title">{{ truncated_text }}...</h5>
                        {% endwith %}
                        <!-- Display current bid price -->
                        <p class="card-text"><strong>{{ listing.currency }}{{ listing.price.bid }}</strong></p>
                        <!-- Link to the listing page -->
                        <a href="{% url 'closedDetails' listing.id %}" class="btn btn-primary">See listing status</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}