{% extends "network/layout.html" %}
{% load custom_tags %}
{% load my_filters %}
{% load static %}
{% block body %}


<h1 style="color: white;">Dear <a href="{% url 'profile' user_id=user.id %}">{{user.username}}</a>, these are the posts you follow</h1>

    {% for posts in page_post%}
    <div class="card">
      <div class="card-body">
        <a href="{% url 'profile' user_id=posts.user.id %}">
          <img src="{{ posts.user.profile_pics.url }}" class="rounded-circle" width="50" height="50">
        </a>
  
          <!-- Display a link to the user's profile -->
        <a class="card-title" href="{% url 'profile' user_id=posts.user.id %}">@{{posts.user}}</a>
        <br>
        <br>
        <!-- Display the content of the post -->
        <div class="card-text" id="content_{{ posts.id }}">
          {% for paragraph in posts.postContent|split_paragraphs %}
  {% if forloop.counter <= 7 %}
    <p>{{ paragraph|urlize }}</p>
  {% endif %}
{% endfor %}
{% if posts.postContent|split_paragraphs|length > 2 %}
  <p class="btn btn-link read-more" data-post="{{ posts.id }}">Read full content >>></p>
{% endif %}

        </div>
        <!-- Display the timestamp of the post -->
        <p class="card-text"><small class="text-muted">{{ posts.timestamp }}</small></p>
      
      <!-- Display the number of likes for the post -->
      {% if user.is_authenticated %}
      <div class="d-flex justify-content-between">
      <div class="reaction-button">
        {% if request.user in posts.post_like.all %}
          <form action="{% url 'remove_like' post_id=posts.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="unlikePost" value="{{ posts.id }}" />
            <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
              <i class="fa fa-thumbs-down"></i> Unlike
            </button>
          </form>
        {% else %}
          <form action="{% url 'add_like' post_id=posts.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="likePost" value="{{ posts.id }}" />
            <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #007bff (blue); border-color: #dc3545;">
              <i class="fa fa-thumbs-up"></i> Maa Shaa Allah! {{ posts.post_like.count }}
            </button>
          </form>
        {% endif %}
      </div>
  {% endif %}
      

{% if user.is_authenticated %}
      
<div class="reaction-button">
  {% if request.user in posts.postAllah.all %}
    <form action="{% url 'remove_akbar' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="unlike_akbar" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
        <i class="fa fa-thumbs-down"></i> Unlike
      </button>
    </form>
  {% else %}
    <form action="{% url 'add_akbar' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="likePost" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: rgb(43, 255, 0); border-color: #dc3545;">
        <i class=""></i>✊ <strong>Allahu Akbar!</strong> {{ posts.postAllah.count }}
      </button>
    </form>
  {% endif %}
</div>
{% endif %}



{% if user.is_authenticated %}
      
<div class="reaction-button">
  {% if request.user in posts.postSubhanallah.all %}
    <form action="{% url 'remove_subhanallah' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="unlike_subhanallah" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
        <i class="fa fa-thumbs-down"></i> Unlike
      </button>
    </form>
  {% else %}
    <form action="{% url 'add_subhanallah' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="subhanallahPost" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: rgb(0, 0, 0); border-color: #dc3545;">
        <i class=""></i>😱 Subhanallah! {{ posts.postSubhanallah.count }}
      </button>
    </form>
  {% endif %}
</div>

{% endif %}

{% if user.is_authenticated %}
      
<div class="reaction-button">
  {% if request.user in posts.postLaa.all %}
    <form action="{% url 'remove_laa' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="unlike_laa" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
        <i class="fa fa-thumbs-down"></i> Unlike
      </button>
    </form>
  {% else %}
    <form action="{% url 'add_laa' post_id=posts.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="laaPost" value="{{ posts.id }}" />
      <button id="like-btn-{{ posts.id }}" class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
        <i class="fa fa-thumbs-down"></i> لا  {{ posts.postLaa.count }} 
      </button>
    </form>
  {% endif %}
</div>

{% endif %}

      </div>   
      
    
      <ul class="list-group">
        {% for comment in posts.postComment.all %}
          <li class="list-group-item">
            <a href="{% url 'profile' user_id=posts.user.id %}">
              <img src="{{ comment.author.profile_pics.url }}" class="rounded-circle" width="50" height="50">
            </a>
            <strong><a href="{% url 'profile' user_id=comment.author.id %}">{{ comment.author }}</a> wrote:</strong>
            <div class="card-text" id="content_{{ comment.id }}">
              {% for paragraph in comment.message|split_paragraphs %}
                <p>{{ paragraph|urlize }}</p>
              {% endfor %}
            </div>
          </li>
        {% empty %}
          <li class="list-group-item">No comments yet.</li>
        {% endfor %}
      </ul>
      
      <br>
      {% if user.is_authenticated %}
      <form action="{% url 'addComment' post_id=posts.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <span class="comment-field">
          <textarea type="text" id="new-comment" name="newComment" class="form-control rounded-0 shadow-none" rows="3" placeholder="Write a comment..."></textarea>
        </span>
        </div>
        <div class="form-group">
          <span class="btn-comment">
          <button type="submit" class="btn btn-primary btn-sm" style="background-color: #1877f2; border-color: #1877f2;" id="comment-btn">
            <i class="fas fa-paper-plane"></i> Comment
          </button>
        </span>
        </div>
      </form>
      {% endif %}

          
          {% if user.is_authenticated %}
              {% if user == post.user %}
                  <div class="edit-buttons">
                      <!-- Display an "Edit" button that opens the modal to edit the post -->
                      <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{post.id}}">Edit</button>
                  </div>
                  <!-- The modal for editing a post -->
                  <div class="modal fade" id="modal_edit_post_{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{post.id}}_" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{post.id}}" aria-label="Edit post">
                                      Edit
                                  </button>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <!-- Textarea for editing the post's content -->
                                  <textarea rows="10" id="textarea_{{post.id}}" class="form-control" name="content">{{post.postContent}}</textarea>
                              </div>
                              <div class="modal-footer"></div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
  
                </div>
              </div>
            </div>
          </div>
          
    {% endif %}
    {% endif %}
  
  
    </div>
    </div>
    </div>
   
    
  
   {% endfor %}
  {% endblock %}