{% extends "network/layout.html" %}
{% load custom_tags %}
{% load my_filters %}
{% load static %}
{% block body %}


<!--The create post container, border and button-->
{% include 'network/create-post.html' %}

<!--The sidebar on the left-->
{% include 'network/left-sidebar.html' %}

<!--The sidebar on the right-->
{% include 'network/right-sidebar.html' %}
  



            {% for posts in page_post %}
            <br>
            
            <section class="container">
                <br>
                <div class="card post-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            {% if posts.user.profile_pics %}
                            <a href="{% url 'profile' user_id=posts.user.id %}">
                                <img src="{{ posts.user.profile_pics.url }}" class="rounded-circle" width="40" height="40">
                            </a>
                            {% else %}
                            <a href="{% url 'profile' user_id=posts.user.id %}">
                                <img src="/media/post_image/nodp.jpg" class="rounded-circle" width="40" height="40">
                            </a>
                            {% endif %}
                            <div class="ml-3">
                                <h5 class="card-title mb-1">
                                    <!-- Display a link to the user's profile -->
                                    <a class="card-title" style="text-decoration: none;" href="{% url 'profile' user_id=posts.user.id %}">
                                        {{ posts.user.first_name|truncatechars:15 }} {{ posts.user.last_name|truncatechars:15 }}</a>
                                </h5>
                                <div class="mb-0">
                                    {% if posts.user.username|length > 15 %}
                                    <p>@{{posts.user.username | slice:":15"}}...</p>
                                    {% else %}
                                    <p>@{{posts.user.username}} <small class="text-muted">{{ posts.timestamp }}</small> </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="card-text" id="content_{{ posts.id }}">
                            {% for paragraph in posts.postContent|split_paragraphs|slice:":5" %} {# Limit to 5 paragraphs #}
                            <p>{{ paragraph|urlize }}</p>
                            {% endfor %}
                            {% if posts.postContent|split_paragraphs|length >= 5 %}
                            <a href="{% url 'post_content' post_id=posts.id %}">
                                <p class="read-more" data-post="{{ posts.id }}">Read full content >>></p>
                            </a>
                            {% endif %}
                            {% if posts.post_images.all %}
                            <div id="carouselExampleIndicators-{{ posts.id }}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for image in posts.post_images.all %}
                                    <li data-target="#carouselExampleIndicators-{{ posts.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in posts.post_images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img class="d-block w-100" src="{{ image.post_image.url }}" alt="Post Image">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators-{{ posts.id }}" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators-{{ posts.id }}" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Add a delete button for each post -->
                        
                          {% if request.user == posts.user %} 
                          {% include 'network/delete-post.html' %}</p>
                          {% endif %}

                         
                           <div class="reactions-container" data-post-id="{{ posts.id }}">

                            <button class="react-button" data-reaction="like">
                                <img src="/media/post_image/black.png" class="rounded-circle" style="background-color: white;" width="30" height="30" alt="Like post"/>
                            </button>
                            
                            <button class="react-button" data-reaction="love">
                                <img src="/media/post_image/mashaa.gif" class="rounded-circle" style="background-color: white;" width="30" height="30" alt="love post"/>
                            </button>
            
                            <button class="react-button" data-reaction="sad">
                                <img src="/media/post_image/sad_emoji.gif" class="rounded-circle" style="background-color: white;" width="30" height="30" alt="sad reaction"/>
                            </button>
                            <button class="react-button" data-reaction="haha">
                                <img src="/media/post_image/funny.gif" class="rounded-circle" style="background-color: white;" width="30" height="30" alt="haha at post"/>
                            
                            </button>
                            <button class="react-button" data-reaction="shock">
                                <img src="/media/post_image/shock-emoji.gif" class="rounded-circle" style="background-color: white;" width="30" height="30" alt="shock reaction"/>
                            </button>
                        
                            <!-- Display individual reaction counts 
                            <div>
                                <p>Love: <span class="post_love_count"></span></p>
                                <p>Like: <span class="post_like_count"></span></p>
                                <p>Sad: <span class="post_sad_count"></span></p>
                                <p>Haha: <span class="post_haha_count"></span></p>
                                <p>Shock: <span class="post_shock_count"></span></p>
                            </div> -->
                        
                            <!-- Display total count 
                            {% with total_count=posts.postLove.count|add:posts.postHaha.count|add:posts.postSad.count|add:posts.postShock.count|add:posts.post_like.count %}
                          {% if total_count > 0 %}
                          <p>Total Count: <span id="total_count" class="total_count">{{total_count}}</span></p>
                          {% else %}
                            <p>Total Count: <span id="total_count" class="total_count"></span></p>
                            {% endif %}
                            {% endwith %}-->
                        </div>
                        

                        <!-- Display the number of likes for the post -->
                        {% include 'network/likes.html' %}
                        <hr>

                        <!-- Urlize comments, read more comments, and display comments -->
                        {% include 'network/comments.html' %}
                        <!--Share To Friend -->
                       
        
         

                    </div>
                </div>
            </section>
            {% endfor %}
        



<!-- Your pagination code here -->
{% include 'network/newpost-modal.html' %}
{% include 'network/share.html' %}
<div class="pagination">
<span class="step-links">
  {% if page_post.has_previous %}
  <a class="btn btn-primary" href="?page=1"> <<<< </a>
  <a class="btn btn-primary" href="?page={{ page_post.previous_page_number }}">&raquo;</a>
  {% endif %}
  
  {% if page_post.has_next %}
  <a class="btn btn-primary" href="?page={{ page_post.next_page_number }}">&laquo;</a>
  <a class="btn btn-primary" href="?page={{ page_post.paginator.num_pages }}"><span style="color: black;"> >>>></span></a>
  {% endif %}
</span>
</div>
</div>

<script>

// Attach a click event listener to each reaction button
document.querySelectorAll('.react-button').forEach(button => {
    button.addEventListener('click', () => handleReaction(button));
});

// Function to handle reactions
function handleReaction(button) {
    const postContainer = button.closest('.reactions-container');
    const post_id = postContainer.dataset.postId;
    const reactionType = button.dataset.reaction;

    // Fetch URL for your Django view
    const url = `/post_add_or_remove_reaction/${post_id}/${reactionType}/`;

    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
            'Accept': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        // Update the HTML based on the server's response
        postContainer.querySelector(`.post_${reactionType}_count`).textContent = data.data[`post_${reactionType}`];

        // Update the total count
        postContainer.querySelector('.total_count').textContent = data.data.total_count;

        // Optionally, you can handle the success flag to show a message or perform additional actions
        if (data.data.success) {
            console.log(`Reaction ${reactionType} added`);
        } else {
            console.log(`Reaction ${reactionType} removed`);
        }
    })
    .catch(error => console.error('Error:', error));
}

</script>
{% endblock %}
