{% extends "network/layout.html" %}
{% load static %}
{% block body %}



<div>

  {% if user.is_authenticated %} 
  {% if profile_pics %}
  <img class="profile-pic" src="{{ profile_pics.url }}" alt="profile picture">
{% endif %}


  
  
    <!-- Check if the user is authenticated -->
    <form class="create-post-container" action="{% url 'newPost' %}" method="POST">
        <!-- Add a CSRF token to the form -->
        {% csrf_token %}
        <!-- Textarea for creating a new post -->
        <textarea class="create-post-text" name="post_content" placeholder="What's on your mind?"></textarea>
        <div>
        <!-- Submit button for creating a new post -->
        <button type="submit" class="create-post-button">post</button>
        {% else %} 
        <!-- If the user is not authenticated, display a link to register -->
        <a id="register" href="{% url 'register' %}">Click on register to create an account</a>
        
        {% endif %}
    </div>
    </form>
</div>

    {% for posts in page_post %}
    
    
    <div class="row">
      <div class="facebook-post">
        <!-- Display a link to the user's profile -->
        <a class="font-weight-bold" href="{% url 'profile' user_id=posts.user.id %}">@{{posts.user}}</a>
        <!-- Display the content of the post -->
        <h6 class="content" id="content_{{ posts.id }}">{{ posts.postContent }}</h6>
        <!-- Display the timestamp of the post -->
        <p class="date">{{posts.timestamp}}</p>
        {% if user.is_authenticated %}
          {% if user == posts.user %}
        <div class="edit-buttons">
          <!-- Display an "Edit" button that opens the modal to edit the post -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{posts.id}}">Edit</button>
        </div>
        <!-- The modal for editing a post -->
        <div class="modal fade" id="modal_edit_post_{{posts.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{posts.id}}_" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Textarea for editing the post's content -->
                <textarea rows="10" id="textarea_{{posts.id}}"  class="form-control" name="content">{{posts.postContent}}</textarea>

              </div>
              <div class="modal-footer">


              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary" onclick="submitHandler({{ posts.id }})">Save changes</button>

              </div>
            </div>
          </div>
        </div>
        {% else %}
        
<!-- Check if the current post has been liked by the authenticated user -->
{% if posts.id in whoYouLiked %}
  
  <!-- This means that we already liked the post -->
  
  <!-- If the post has been liked, display a thumbs-down button -->
  
  
  {% else %}
  
  <!-- If the post has not been liked, display a thumbs-up button -->
  
  
  
  
  {% endif %}
  {% endif %} 
  {% endif %} 
  

  </div>
  </div>
  </div>
  <!-- End of the for loop -->
  {% endfor %}

  <!-- Pagination for navigating through the posts -->
  <nav aria-label="Page navigation example">
  <ul class="pagination d-flex justify-content-center">
  {% if page_post.has_previous %}
  <!-- If there is a previous page, display a "previous" button -->
  <li class="page-item"><a class="page-link" href="?page={{page_post.previous_page_number}}">Previous</a></li>
  {% endif %}
  {% if page_post.has_next %}
  <!-- If there is a next page, display a "next" button -->
  <li class="page-item"><a class="page-link" href="?page={{page_post.next_page_number}}">Next</a></li>
  {% endif %}
  </ul>
  </nav>

  {% endblock %}
