{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SuqSphere{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static '/network/like.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="{% static '/network/share.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'network/favicon.png' %}">

</head>

<body class="" id="body">
    {% if request.user.is_authenticated %}
    <div class="container-fluid top-page">
        <div class="row">
            <div class="col-l">
                <img src="/media/post_image/suqlogo.png" id="index-suqlogo">
            </div>
            <div class="col-md-3">
                <div id="search-icon">
                    <form action="{% url 'search' %}" method="get" style="margin-top: 10px;">
                        <i class="fas fa-search"></i>
                        <input id="search-button" type="text" name="q" placeholder="Search" />
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <!-- Content for Column 3 -->
                <a href="{% url 'index' %}">
                <i class="fas fa-home top-page" style="margin-top: 10px;"></i>
            </a>
                
            </div>
            <div class="col-md-2">
                <!-- Content for Column 4 -->
                <a href="{% url 'network_logout' %}">
                <i class="fas fa-sign-out-alt top-page" style="margin-top: 10px;"></i>
                </a>
            </div>
            <div class="col-md-2" style="margin-top: 10px;">
                <!-- Content for Column 5 -->
                <p><label class="switch-label">
                    <i id="mode-icon" class="fas fa-sun"></i>
                     <label class="switch">
                       <input onclick="toggleBackgroundColor()" type="checkbox" id="toggleSwitch">
                       <span class="slider round"></span>
                     </label>
                   </label></p>
            </div>
            <div class="col-md-2">
                <!-- Content for Column 6 -->
            <i class="fas fa-bell top-page" style="margin-top: 10px;"></i>
            </div>
        </div>
    </div>

    <div class="side-cards-container">
        <a href="{% url 'market' %}">
        <button id="market-side-card" class="rotated-text">Market</button>
        </a>
        <a href="{% url 'auctions' %}">
        <button id="auctions-side-card" class="rotated-text">Auctions</button>
        </a>
        <a href="{% url 'index' %}">
        <button id="intellectual-hub-side-card" class="rotated-text">Intellectual Hub</button>
        </a>
    </div>
    {% endif %}
    
        {% block body %}{% endblock %}
    

<script>
    const body = document.getElementById('body');
const toggleSwitch = document.getElementById('toggleSwitch');
const headShot = document.getElementById('head-shot');
const cards = document.querySelectorAll('.card'); // Select all elements with class "card"
const listGroups = document.querySelectorAll('.list-group-item'); // Select all elements with class "list-group"
const hrElements = document.querySelectorAll('hr'); // Select all <hr> elements
const modals = document.querySelectorAll('.modal'); // Select all elements with class "modal"

function toggleBackgroundColor() {
    if (toggleSwitch.checked) {
        // Set background color to black
        const newBackgroundColor = 'black';
        const newTextColor = 'white';
        
        body.style.backgroundColor = newBackgroundColor;
        body.style.color = newTextColor;
        headShot.style.backgroundColor = newBackgroundColor;
        headShot.style.color = newTextColor;

        // Apply styles to all elements with class "card"
        cards.forEach((card) => {
            card.style.backgroundColor = newBackgroundColor;
            card.style.color = newTextColor;
            card.style.borderColor = newTextColor; // Set border color to white
        });

        // Apply styles to all elements with class "list-group"
        listGroups.forEach((listGroup) => {
            listGroup.style.backgroundColor = newBackgroundColor;
            listGroup.style.color = newTextColor;
        });

        // Apply styles to all <hr> elements
        hrElements.forEach((hr) => {
            hr.style.borderColor = newTextColor; // Change hr border color to white
        });

        // Apply styles to all elements with class "modal"
        modals.forEach((modal) => {
            modal.style.backgroundColor = newBackgroundColor;
            modal.style.color = newTextColor;
        });

        localStorage.setItem('backgroundColor', newBackgroundColor);
    } else {
        // Set background color to white
        const newBackgroundColor = 'white';
        const newTextColor = 'black';

        body.style.backgroundColor = newBackgroundColor;
        body.style.color = newTextColor;
        headShot.style.backgroundColor = newBackgroundColor;
        headShot.style.color = newTextColor;

        // Apply styles to all elements with class "card"
        cards.forEach((card) => {
            card.style.backgroundColor = newBackgroundColor;
            card.style.color = newTextColor;
            card.style.borderColor = newTextColor; // Set border color to black
        });

        // Apply styles to all elements with class "list-group"
        listGroups.forEach((listGroup) => {
            listGroup.style.backgroundColor = newBackgroundColor;
            listGroup.style.color = newTextColor;
        });

        // Apply styles to all <hr> elements
        hrElements.forEach((hr) => {
            hr.style.borderColor = newTextColor; // Change hr border color to black
        });

        // Apply styles to all elements with class "modal"
        modals.forEach((modal) => {
            modal.style.backgroundColor = newBackgroundColor;
            modal.style.color = newTextColor;
        });

        localStorage.setItem('backgroundColor', newBackgroundColor);
    }
}

document.addEventListener('DOMContentLoaded', () => {
    const savedBackgroundColor = localStorage.getItem('backgroundColor');

    if (savedBackgroundColor === 'black') {
        toggleSwitch.checked = true;
    }
    
    toggleBackgroundColor(); // Call the function to apply initial styles

    toggleSwitch.addEventListener('change', toggleBackgroundColor);
});


    
        const menuLink = document.querySelector('#menu-link');
        const sidebar = document.getElementById('sidebar');

        menuLink.addEventListener('click', () => {
            sidebar.classList.toggle('open');
        });
    
</script>
</body>

</html>
