
<!-- My Groups Modal -->
<div style="z-index: 15000;" class="modal" id="my-groups-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: blue;" class="modal-title">My Groups</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal('my-groups-modal')">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            {% for group in my_groups %}
              <li><a style="color: blue" href="{% url 'group_detail' group.pk %}">{{ group.name }}</a>
                <form method="post" action="{% url 'delete_group' group.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Delete Group</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Groups I Joined Modal -->
  <div style="z-index: 15000;" class="modal" id="groups-i-joined-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: blue;" class="modal-title">Groups I Have Joined</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal('groups-i-joined-modal')">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            {% for group in groups_i_joined %}
              <li><a style="color: blue;" href="{% url 'group_detail' group.pk %}">{{ group.name }}</a>
                <form method="post" action="{% url 'exit_group' group.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Exit Group</button>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Groups Joined Modal -->
  <div style="z-index: 15000;" class="modal" id="groups-joined-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: blue;" class="modal-title">Groups</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal('groups-joined-modal')">&times;</button>
        </div>
        <div class="modal-body">
          <ul>
            {% for group in groups_joined %}
              <li><a style="color: blue;" href="{% url 'group_detail' group.pk %}">{{ group.name }}</a>
                
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div> 

  
 

        <br>
        

    <div class="container">
        <!-- hidden open menu
        <div class="nav-item">
            <button  class="nav-link menu-link">Open Menu</button>
        </div>
        -->
        
        <div class="left-sidebar-items" id="sidebar" style="font-family: 'Times New Roman', Times, serif;">
            <!-- Sidebar content here -->
            <ul class="navbar-nav ml-auto">
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                  
                  </li> 
                  
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">
                        {% if user.first_name|length > 15 %}
                        {{ user.first_name | slice:":15"}}...
                        {% else %}
                        {{ user.first_name }}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'profile' user_id=user.id %}">
                        {% if user.username|length > 15 %}
                        @{{ user.username | slice:":15"}}...
                        {% else %}
                        @{{ user.username}}
                        {% endif %}
                    </a>
                </li>
               
                <li class="nav-item">
                   <div style="background-color: white; border-radius: 20px; margin-left: 5%; padding: 15px; box-shadow: 0 4px 8px red; background-clip: padding-box; position: relative; z-index: 0;" class="joined-groups">
    <h3>Users You're Following</h3>
    {% if following %}
        <div class="followed-users">
            {% for user_followed in following %}
                <a href="{% url 'profile' user_followed.following.id %}">
                    <img src="{{ user_followed.following.profile_pics.url }}" alt="{{ user_followed.following.username }}" class="rounded-circle" style="width: 20%; height: 20%;">
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>You're not following any users yet.</p>
    {% endif %}
</div>

                
                
                
              </li>
                <li class="nav-item">
                <a class="nav-link" id="groups-i-joined-btn" href="#">Joined Groups</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#" onclick="navigateToAllGroups()" id="all-btn">Check other groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_group' %}">Create Group</a>
                </li>
                
                <hr>
                <div style="background-color: white; border-radius: 20px; margin-left: 5%; padding: 15px; box-shadow: 0 4px 8px rgba(238, 75, 5, 0.92); background-clip: padding-box; position: relative; z-index: -1;" class="joined-groups">
                  <h3>Groups</h3>
                  {% if groups_i_joined %}
                      <ul style="list-style-type: none; padding: 0; margin: 0;">
                          {% for group in groups_i_joined %}
                              <li><i class="fas fa-users" style="margin-right: 5px;"></i>  {{ group.name | truncatechars:20 }}</li>
                          {% endfor %}
                      </ul>
                  {% else %}
                      <p>No group joined yet.</p>
                  {% endif %}
              </div>
              {% endif %}

            </ul>
        </div>

       
            
          
          <script>
            myGroups = document.getElementById('my-groups-btn');
            joined = document.getElementById('groups-i-joined-btn');
            aller = document.getElementById('all-btn');
            
             function navigateToAllGroups() {
              window.location.href = '{% url "all_groups" %}';
            }

            
          
            
              
              $(document).ready(function() {
                // Initialize the modals
                var myGroupsModal = document.getElementById('my-groups-modal');
                var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
            
                myGroupsModal.style.display = 'none';
                groupsIJoinedModal.style.display = 'none';
            
                // Open the modal when the button is clicked
                $('#my-groups-btn').click(function() {
                  myGroupsModal.style.display = 'none';
                });
            
                $('#groups-i-joined-btn').click(function() {
                  groupsIJoinedModal.style.display = 'none';
                });
              });
            
              $(document).ready(function() {
              // Initialize the modals
              var myGroupsModal = document.getElementById('my-groups-modal');
              var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
            
              myGroupsModal.style.display = 'none';
              groupsIJoinedModal.style.display = 'none';
            
              // Open the modal when the button is clicked
              $('#my-groups-btn').click(function() {
                myGroupsModal.style.display = 'block';
              });
            
              $('#groups-i-joined-btn').click(function() {
                groupsIJoinedModal.style.display = 'block';
              });
            
              
            });
            
            </script>
            <style>
            /* Additional CSS for mobile responsiveness */
            
          
            #popit {
              margin-top: 10px;
            }
          
            
          </style>