{% load custom_tags %}
{% load my_filters %}
{% load static %}

<br>
<br>
<hr style="border-color: black;">

  
    <div class="horizontal-container">
      <div class="">
        <button class="like-btn" data-post-id="{{ posts.id }}" style="background: none; border: none; padding: 0; width: 30px; height: 40px;">
          <img src="/media/post_image/cool.png" width="100%" height="100%" alt="reaction-button" title="reaction">
        </button>
      </div>

  {% with total_count=posts.postLove.count|add:posts.postHaha.count|add:posts.postSad.count|add:posts.postShock.count|add:posts.post_like.count %}
  <h3 onclick="opensModal('{{ posts.id }}')">
   
    <small class="text-muted" style="color: black;">{{ total_count }}</small>
    <button style="background: none; border: none; padding: 0; width: 24px; height: 35px;">
      <img src="/media/post_image/com.png" width="100%" height="100%" alt="Comment" title="Comment">
    </button> 
     <small class="text-muted">{{ posts.postComment.count }}</small>
    
  </h3>
  <button style="background: none; border: none; padding: 0; width: 24px; height: 35px;" onclick="shareFile('https:\//suqspehere.com/post_content/{{ posts.id }}')">
    <img src="/media/post_image/share.png" width="100%" height="100%" alt="Share" title="Share">
  </button>
{% endwith %}
    </div>



  <!-- Modal -->
  <div id="reactedUsersModal-{{ posts.id }}" class="reaction-modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closesModal('{{ posts.id }}')">&times;</span>
      <div class="reaction-columns">
        <div class="reaction-column">
          <p class="desktop-only">Like</p>
          <button onclick="showColumn('like-column-{{ posts.id }}')" style="background: none; border: none;">
            <img src="/media/post_image/black.png" class="rounded-circle" width="30" height="30" alt="Maa Shaa Allah"/>{{posts.post_like.count}}
          </button>
          <div id="like-column-{{ posts.id }}">
            {% for like_reactions in posts.post_like.all %}
              <a href="{% url 'profile' user_id=like_reactions.user.id %}">{{ like_reactions.user }}</a><br>
            {% endfor %}
          </div>
        </div>
        <div class="reaction-column">
          <p class="desktop-only">Love</p>
          <button onclick="showColumn('love-column-{{ posts.id }}')" style="background: none; border: none;">
            <img src="/media/post_image/mashaa.gif" class="rounded-circle" width="30" height="30" alt="Love"/>{{posts.postLove.count}}
          </button>

          <div id="love-column-{{ posts.id }}">
            {% for love_reactions in posts.postLove.all %}
              <a href="{% url 'profile' user_id=love_reactions.user.id %}">{{ love_reactions.user }}</a><br>
            {% endfor %}
          </div>
        </div>
        <div class="reaction-column">
          <p class="desktop-only">Shock</p>
          <button onclick="showColumn('shock-column-{{ posts.id }}')" style="background: none; border: none;">
            <img src="/media/post_image/shock.gif" class="rounded-circle" width="30" height="30" alt="Shock"/>{{posts.postShock.count}}
          </button>

        <div id="shock-column-{{ posts.id }}">
          {% for shock_reactions in posts.postShock.all %}
            <a href="{% url 'profile' user_id=shock_reactions.user.id %}">{{ shock_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Haha</p>
        <button onclick="showColumn('haha-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/funny.gif" class="rounded-circle" width="30" height="30" alt="Haha"/>{{posts.postHaha.count}}
        </button>

        <div id="haha-column-{{ posts.id }}">
          {% for haha_reactions in posts.postHaha.all %}
            <a href="{% url 'profile' user_id=haha_reactions.user.id %}">{{ haha_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Sad</p>
        <button onclick="showColumn('sad-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/sad.gif" class="rounded-circle" width="30" height="30" alt="Allah akbar"/>{{posts.postSad.count}}
        </button>

        <div id="sad-column-{{ posts.id }}">
          {% for sad_reactions in posts.postSad.all %}
            <a href="{% url 'profile' user_id=sad_reactions.user.id %}">{{ sad_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


