{% load custom_tags %}
{% load my_filters %}
{% load static %}

<div class="img-fluid react_space" id="react_space">
  <div class="reaction-button" id="reaction-buttons-{{ posts.id }}">
    {% if user.is_authenticated %}
      {% if request.user in posts.post_like.all %}
        <form action="{% url 'remove_like' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="unlikePost" value="{{ posts.id }}" />
          <button>
            <i class="fa fa-thumbs-down"></i> Unlike
          </button>
        </form>
      {% else %}
        <form action="{% url 'add_like' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="likePost" value="{{ posts.id }}"/>
          <button style="background: none; border: none;">
            <img src="/media/post_image/hand.gif" class="rounded-circle" width="50" height="50" alt="Maa Shaa Allah"/>
          </button>
        </form>
      {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
      {% if request.user in posts.postMaashaa.all %}
        <form action="{% url 'remove_maashaa' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="unlikePost" value="{{ posts.id }}" />
          <button>
            <i class="fa fa-thumbs-down"></i> Unlike
          </button>
        </form>
      {% else %}
        <form action="{% url 'add_maashaa' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="likePost" value="{{ posts.id }}" />
          <button style="background: none; border: none;">
            <img src="/media/post_image/mashaa.gif" class="rounded-circle" width="50" height="50" alt="Maa Shaa Allah"/>
          </button>
        </form>
      {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
      {% if request.user in posts.postHaha.all %}
        <form action="{% url 'remove_haha' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="unlikePost" value="{{ posts.id }}" />
          <button>
            <i class="fa fa-thumbs-down"></i> Unlike
          </button>
        </form>
      {% else %}
        <form action="{% url 'add_haha' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="likePost" value="{{ posts.id }}" />
          <button style="background: none; border: none;">
            <img src="/media/post_image/funny.gif" class="rounded-circle" width="50" height="50" alt="Maa Shaa Allah"/>
          </button>
        </form>
      {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
      {% if request.user in posts.postAllah.all %}
        <form action="{% url 'remove_akbar' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="unlike_akbar" value="{{ posts.id }}" />
          <button>
            <i class="fa fa-thumbs-down"></i> Unlike
          </button>
        </form>
      {% else %}
        <form action="{% url 'add_akbar' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="likePost" value="{{ posts.id }}" />
          <button style="background: none; border: none;">
            <img src="/media/post_image/allah.gif" width="50" height="50" alt="Allah akbar"/>
          </button>
        </form>
      {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
      {% if request.user in posts.postSubhanallah.all %}
        <form action="{% url 'remove_subhanallah' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="unlike_subhanallah" value="{{ posts.id }}" />
          <button>
            <i class="fa fa-thumbs-down"></i> Unlike
          </button>
        </form>
      {% else %}
        <form action="{% url 'add_subhanallah' post_id=posts.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="subhanallahPost" value="{{ posts.id }}" />
          <button style="background: none; border: none;">
            <img src="/media/post_image/shock.gif" class="rounded-circle" width="50" height="50" alt="Subhanallah"/>
          </button>
        </form>
      {% endif %}
    {% endif %}


  </div>

  <h3 class="like-btn" data-post-id="{{ posts.id }}"><i class="fa fa-thumbs-up"></i></h3>

  {% with total_count=posts.postMaashaa.count|add:posts.postHaha.count|add:posts.postAllah.count|add:posts.postSubhanallah.count|add:posts.post_like.count %}
  {% if posts.post_like.count > 0 and posts.postHaha.count < 1 and posts.postAllah.count < 1 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count < 1 %}
      <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍 {{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
  {% elif posts.post_like.count < 1 and posts.postHaha.count < 1 and posts.postAllah.count < 1 and posts.postMaashaa.count > 0 and posts.postSubhanallah.count < 1 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">❤️ {{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
  {% elif posts.post_like.count < 1 and posts.postHaha.count < 1 and posts.postAllah.count > 0 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count < 1 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">☝️ {{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
    {% elif posts.post_like.count < 1 and posts.postHaha.count > 0 and posts.postAllah.count < 1 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count < 1 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">😂{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
    {% elif posts.post_like.count < 1 and posts.postHaha.count < 1 and posts.postAllah.count < 1 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count > 0 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">😲{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
    {% elif posts.post_like.count > 0 and posts.postHaha.count < 1 and posts.postAllah.count > 0 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count < 1 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍☝️{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
    {% elif posts.post_like.count > 0 and posts.postHaha.count > 0 and posts.postAllah.count < 1 and posts.postMaashaa.count < 1 and posts.postSubhanallah.count < 1 %}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍😂{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
     {% elif posts.postMaashaa.count > 0 and posts.postHaha.count > 0 and posts.postSubhanallah.count > 0 and posts.post_like.count > 0 and posts.postAllah.count < 1%}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍❤️😂😮{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
    {% elif posts.postMaashaa.count > 0 and posts.postHaha.count < 1 and posts.postSubhanallah.count < 1 and posts.post_like.count > 0 and posts.postAllah.count < 1%}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍❤️{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
  {% elif posts.postMaashaa.count > 0 and posts.postHaha.count > 0 and posts.postSubhanallah.count > 0 and posts.post_like.count > 0 and posts.postAllah.count > 0%}
    <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍❤️😂😮☝️{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
  {% else %}
   <h3 onclick="opensModal('{{ posts.id }}')"><button class="like-button">👍{{ total_count }}</button> 💬 {{ posts.postComment.count }}</h3>
  {% endif %}
{% endwith %}



<!-- Modal -->
<div id="reactedUsersModal-{{ posts.id }}" class="reaction-modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="closesModal('{{ posts.id }}')">&times;</span>
    <div class="reaction-columns">
      <div class="reaction-column">
        <p class="desktop-only">Like</p>
        <button onclick="showColumn('like-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/hand.gif" class="rounded-circle" width="30" height="30" alt="Maa Shaa Allah"/>{{posts.post_like.count}}
        </button>
        <div id="like-column-{{ posts.id }}">
          {% for like_reactions in posts.post_like.all %}
            <a href="{% url 'profile' user_id=like_reactions.user.id %}">{{ like_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Maa Shaa Allah</p>
        <button onclick="showColumn('love-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/mashaa.gif" class="rounded-circle" width="30" height="30" alt="Maa Shaa Allah"/>{{posts.postMaashaa.count}}
        </button>

        <div id="love-column-{{ posts.id }}">
          {% for love_reactions in posts.postMaashaa.all %}
            <a href="{% url 'profile' user_id=love_reactions.user.id %}">{{ love_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Subhanallah</p>
        <button onclick="showColumn('shock-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/shock.gif" class="rounded-circle" width="30" height="30" alt="Subhanallah"/>{{posts.postSubhanallah.count}}
        </button>
        <div id="shock-column-{{ posts.id }}">
          {% for shock_reactions in posts.postSubhanallah.all %}
            <a href="{% url 'profile' user_id=shock_reactions.user.id %}">{{ shock_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Allahu Akbar</p>
        <button onclick="showColumn('akbar-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/allah.gif" width="30" height="30" alt="Allah akbar"/>{{posts.postAllah.count}}
        </button>
        <div id="akbar-column-{{ posts.id }}">
          {% for akbar_reactions in posts.postAllah.all %}
            <a href="{% url 'profile' user_id=akbar_reactions.user.id %}">{{ akbar_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
      <div class="reaction-column">
        <p class="desktop-only">Haha</p>
        <button onclick="showColumn('laugh-column-{{ posts.id }}')" style="background: none; border: none;">
          <img src="/media/post_image/funny.gif" class="rounded-circle" width="30" height="30" alt="Maa Shaa Allah"/>{{posts.postHaha.count}}
        </button>
        <div id="laugh-column-{{ posts.id }}">
          {% for laugh_reactions in posts.postHaha.all %}
            <a href="{% url 'profile' user_id=laugh_reactions.user.id %}">{{ laugh_reactions.user }}</a><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
