<div id="postModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form action="{% url 'newPost' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <textarea style="height: 300px;" id="new-post" class="form-control" name="post_content" placeholder="Share a thought..." required></textarea>
          </div>
          <div class="form-group">
            <input type="file" name="post_image[]" class="form-control-file" accept="image/*" multiple>
          </div>
          <div class="text-right">
            <button id="post-btn" type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
