{% extends "network/layout.html" %}

{% block body %}

<div class="container">
  <p>Dear {{ user.username }},</p>
  
  <p>You're receiving this email because you requested a password reset for your account at {{ site_name }}.</p>

  <p>Please click on the link below to reset your password:</p>
  
  <p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

  <p>If you didn't request a password reset, please ignore this email.</p>
  
  <p>Thanks,</p>
  
  <p>The {{ site_name }} team</p>
</div>
{% endblock %}
