{% extends "network/layout.html" %}

{% block body %}


<div class="intro-container">
    <div class="circle-container">
      <img src="media/post_image/chatlogo.jpg" alt="Chat Logo" class="circle-image">
    </div>
    <div class="intro-text-container">
      <p style="font-weight: 500; font-size: large; font-family: 'Times New Roman', Times, serif;">Don't have an account?</p>
      <button class="signup-button" onclick="openRegisterModal()">Sign-up</button>
      <br>
      <div class="login-text-space">
      <p style="font-weight: 500; font-size: large; font-family: 'Times New Roman', Times, serif;">Already have an account?</p>
      <button class="login-button"><a href="{% url 'network_login' %}">Login</a></button>
    </div>
    </div>
  </div>
  

    <!-- Unique Register Modal -->
    <div style="color: black;" class="modal fade" id="registerModalUnique" tabindex="-1" aria-labelledby="registerModalUniqueLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalUniqueLabel">Register</h5>
                    {% if form.errors %}
        <div class="alert">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerFormUnique" action="{% url 'network_register' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Register">
                        <button type="button" class="btn btn-secondary" onclick="closeRegisterModal()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="intro-footer-buttons">
          <button class="intro-footer-button">About Us</button>
          <button class="intro-footer-button">Terms and Conditions</button>
          <button class="intro-footer-button">Privacy</button>
          <button class="intro-footer-button">Contact Us</button>
        </div>
      </footer>
      


    <script>
        function openRegisterModal() {
            var modal = document.getElementById('registerModalUnique');
            modal.classList.add('show');
            modal.style.display = 'block';
        }

        function closeRegisterModal() {
            var modal = document.getElementById('registerModalUnique');
            modal.classList.remove('show');
            modal.style.display = 'none';
        }
    </script>

{% endblock %}
