{% extends "network/layout.html" %}

{% block body %}

    <div class="container">
        <h2>Terms and Policies</h2>
        <hr>

        <h4>Community Guidelines</h4>
        <p>
            Our social media platform is committed to fostering a safe and inclusive community for all users. We have established the following community guidelines to ensure a positive and respectful environment:
        </p>
        <ul>
            <li>Bullying, harassment, or any form of harmful behavior towards others is strictly prohibited.</li>
            <li>Content that promotes LGBTQ+ content is not allowed.</li>
            <li>Posts or comments that promote gambling, nudity and usury are not permitted.</li>
        </ul>
        <p>
            We encourage all users to be mindful of these guidelines and treat others with kindness and respect while using our platform.
        </p>

        <h4>User Responsibility</h4>
        <p>
            As a user of our platform, it is your responsibility to use the platform righteously and in accordance with the guidelines and principles of the community. We urge you to make every effort to maintain pious and righteous behavior. Here are three verses from the Quran that emphasize the importance of piety:
        </p>
        <blockquote>
            <p>"O you who have believed, fear Allah as He should be feared and do not die except as Muslims [in submission to Him]." (Quran 3:102)</p>
            <p>"O you who have believed, fear Allah and speak words of appropriate justice." (Quran 33:70)</p>
            <p>"And whoever fears Allah - He will make for him a way out and will provide for him from where he does not expect. And whoever relies upon Allah - then He is sufficient for him. Indeed, Allah will accomplish His purpose. Allah has already set for everything a [decreed] extent." (Quran 65:2-3)</p>
        </blockquote>
        <p>
            We expect users to adhere to these principles and use our platform in a manner that upholds righteousness and respect for one another.
        </p>

        <h4>Platform Disassociation</h4>
        <p>
            Our platform disassociates itself from any conducts between individuals that are beyond the reach and control of the platform. While we strive to maintain a positive environment, we are not responsible for the actions and behaviors of individuals outside the platform.
        </p>
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="container text-center">
            <p>© 2023 iNetwork. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}
{% endblock %}


