{% extends "network/layout.html" %}
{% load static %}
{% block body %} 
<style>
    body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: 150px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #888;
}

</style>

<h1 style="margin-top: 30px; text-align: center;">T R A N S A C T</h1>

<div class="container">
    <h1>Under Construction</h1>
    <p>We're working on something awesome. Here, Muslims will be able to seek the professional services of Muslims!</p>
  </div>
{% endblock %}