{% extends "network/layout.html" %}
{% load static %}
{% load custom_tags %}
{% load my_filters %}
{% block body %}

<div class="container">
<div class="content">
  <div class="post">
  <div class="row mb-3">
    <div class="col-6 text-center">
      <h5 class="text-black">Following: {{ following.count }}</h5>
    </div>
    <div class="col-6 text-center">
      <h5 class="text-black">Followers: {{ follower.count }}</h5>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% if user != userProfile %}
      {% if isFollowing %}
      <form action="{% url 'unfollow' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="followUser" value="{{ userProfile }}" />
        <button class="btn btn-primary w-100" style="background-color: #dc3545; border-color: #dc3545;">
          <i class="fas fa-user-minus"></i> Unfollow
        </button>
      </form>
    {% else %}
      <form action="{% url 'follow' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="followUser" value="{{ userProfile }}" />
        <button class="btn btn-primary w-100">
          <i class="fas fa-user-plus"></i> Follow
        </button>
      </form>
      {% endif %}
        {% endif %}
          {% endif %}
</div>


<!-- Modal -->
<div id="editBioModal" class="modal">
  <div class="modal-dialog">
    <div style="background-color: black; color: white;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Bio</h5>
        <button type="button" class="close" onclick="closeEditBioModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edit_profile' user_id=user.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="firstNameInput">First Name:</label>
            <input type="text" class="form-control" id="firstNameInput" name="1" placeholder="Enter your first name" value="{{ user.first_name }}">
          </div>
          <div class="form-group">
            <label for="lastNameInput">Last Name:</label>
            <input type="text" class="form-control" id="lastNameInput" name="2" placeholder="Enter your last name" value="{{ user.last_name }}">
          </div>
          <div class="form-group">
            <label for="aboutTextarea">About:</label>
            <textarea class="form-control" id="aboutTextarea" name="3" rows="3" placeholder="Tell us about yourself">{{ user.about }}</textarea>
          </div>
          <div class="form-group">
            <label for="emailInput">Email:</label>
            <input type="email" class="form-control" id="emailInput" name="4" value="{{ user.email }}" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone Number:</label>
            <input type="tel" class="form-control" id="phoneInput" name="5" value="{{ user.phone_number }}" placeholder="Enter your phone number">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeEditBioModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<style>
  .custom-modal {
    display: none;
  }
</style>

<script>
  
  function openEditBioModal() {
    var modal = document.getElementById('editBioModal');
    modal.style.display = 'block';
  }

  function closeEditBioModal() {
    var modal = document.getElementById('editBioModal');
    modal.style.display = 'none';
  }
</script>

<div class="">
<div class="post">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        {% if userProfile.profile_pics %}
          <img src="{{ userProfile.profile_pics.url }}" class="rounded-circle" width="150" height="150"> 
          {% else %} 
          <img src="/media/post_image/nodp.jpg" class="rounded-circle" width="70" height="70" style="margin-top: 1px;">
          {% endif %}
        <div class="ml-3">
          <h4 class="">
            {{ userProfile.first_name }} {{ userProfile.last_name }}
          </h4>
          <p class="mb-0">
           Username: {{ userProfile.username }}
          </p>
          <br>
          
          <!-- Button to open the modal -->
{% if user == userProfile %}
<button id="editBioBtn" class="btn btn-primary" onclick="openEditBioModal()">Edit Bio</button>
{% endif %}
        </div>
      </div>
      <hr>
      <div>
        <p>
           Email: {{ userProfile.email }}
          </p>
          <p class="">
            Phone Number: {{ userProfile.phone_number }}
          </p>
        {% if userProfile.about %}
        <p>{{ userProfile.about|urlize }}</p>
      {% else %}
        <p>About: ...</p>
      {% endif %}
      
       
</div>

        
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="shae-thought">
  {% if user.profile_pics %}
  <a href="{% url 'profile' user_id=user.id %}">
      <img src="{{ user.profile_pics.url }}" class="index-post-circle-image">
  </a>
{% else %}
  <a href="{% url 'profile' user_id=user.id %}">
      <img src="/media/post_image/nodp.jpg" class="index-post-circle-image">
  </a>
{% endif %}
  <input type="text" id="create-post-field" placeholder="share insight..." onclick="openModal('postModal')">
</div>
<div id="posts">
  {% for posts in page_post %}
  <br>
  <section>
    <div>
      <div class="d-flex align-items-center">
        {% if posts.sharepost_set.all %}
          {% with sharer=posts.sharepost_set.all.0.sharer %}
            {% if sharer.profile_pics %}
              <a href="{% url 'profile' user_id=sharer.id %}">
                <img src="{{ sharer.profile_pics.url }}" class="rounded-circle" width="30" height="30">
              </a>
            {% else %}
              <a href="{% url 'profile' user_id=sharer.id %}">
                <img src="/media/post_image/nodp.jpg" class="rounded-circle" width="30" height="30">
              </a>
            {% endif %}
            <div class="ml-3">
              <h5 class="card-title mb-1">
                <!-- Display a link to the sharer's profile -->
                <a class="card-title" style="text-decoration: none;" href="{% url 'profile' user_id=sharer.id %}">{{ sharer.first_name }} {{ sharer.last_name }} shared a post</a>
                <small><p>{{ posts.sharepost_set.all.0.timestamp }}</p></small>
              </h5>
              
            </div>
          {% endwith %}
        {% endif %}
        <hr>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            
            {% if posts.user.profile_pics %}
              <a href="{% url 'profile' user_id=posts.user.id %}">
                <img src="{{ posts.user.profile_pics.url }}" class="rounded-circle" width="40" height="40">
              </a>
            {% else %}
              <a href="{% url 'profile' user_id=posts.user.id %}">
                <img src="/media/post_image/nodp.jpg" class="rounded-circle" width="40" height="40">
              </a>
            {% endif %}
            <div class="ml-3">
              <h5 class="card-title mb-1">
                <!-- Display a link to the user's profile -->
                <a class="card-title" style="text-decoration: none;" href="{% url 'profile' user_id=posts.user.id %}">{{posts.user.first_name}} {{posts.user.last_name}}</a>
              </h5>
              <div class="mb-0">
                {% if posts.user.username|length > 15 %}
                <p>@{{posts.user.username | slice:":15"}}...</p>
                {% else %}
                <p>@{{posts.user.username}} <small class="text-muted">{{ posts.timestamp }}</small> </p>
                {% endif %}
            </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card-text" id="content_{{ posts.id }}">
            {% for paragraph in posts.postContent|split_paragraphs|slice:":5" %} {# Limit to 5 paragraphs #}
              <p>{{ paragraph|urlize }}</p>
            {% endfor %}
            {% if posts.postContent|split_paragraphs|length >= 5 %}
              <a href="{% url 'post_content' post_id=posts.id %}">
                <p class="read-more" data-post="{{ posts.id }}">Read full content >>></p>
              </a>
            {% endif %}
            {% if posts.post_images.all %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for image in posts.post_images.all %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for image in posts.post_images.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ image.post_image.url }}" alt="Post Image">
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            {% endif %}

        </div>
        <!-- Add a delete button for each post -->
       
          {% if request.user == posts.user %} 
          {% include 'network/delete-post.html' %}</p>
          {% endif %}
        <!-- Display the number of likes for the post -->
        {% include 'network/likes.html' %}
        <hr>

        <!--Urlize comments, read more comments, and display comments-->
        {% include 'network/comments.html' %}
      </div>
    </div>
  </div>
  </section>
{% endfor %}
</div>
</div>
</div>


{% include 'network/newpost-modal.html' %}
  <style>
    #my-groups-btn {
      display: none;
    }
  
    #groups-i-joined-btn {
      display: none;
    }
  
    #all-btn {
      display: none;
    }

    
  </style>
  
  <script>
  myGroups = document.getElementById('my-groups-btn');
  joined = document.getElementById('groups-i-joined-btn');
  aller = document.getElementById('all-btn');
  
   function navigateToAllGroups() {
    window.location.href = '{% url "all_groups" %}';
  }

  function pop() {
    myGroups.style.display = 'block';
    joined.style.display = 'block';
    aller.style.display = 'block';
  }
    
    $(document).ready(function() {
      // Initialize the modals
      var myGroupsModal = document.getElementById('my-groups-modal');
      var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
  
      myGroupsModal.style.display = 'none';
      groupsIJoinedModal.style.display = 'none';
  
      // Open the modal when the button is clicked
      $('#my-groups-btn').click(function() {
        myGroupsModal.style.display = 'none';
      });
  
      $('#groups-i-joined-btn').click(function() {
        groupsIJoinedModal.style.display = 'none';
      });
    });
  
    $(document).ready(function() {
    // Initialize the modals
    var myGroupsModal = document.getElementById('my-groups-modal');
    var groupsIJoinedModal = document.getElementById('groups-i-joined-modal');
  
    myGroupsModal.style.display = 'none';
    groupsIJoinedModal.style.display = 'none';
  
    // Open the modal when the button is clicked
    $('#my-groups-btn').click(function() {
      myGroupsModal.style.display = 'block';
    });
  
    $('#groups-i-joined-btn').click(function() {
      groupsIJoinedModal.style.display = 'block';
    });
  
    
  });
  
  </script>
  <style>
  /* Additional CSS for mobile responsiveness */
  #my-groups-btn,
  #groups-i-joined-btn,
  #all-btn {
    display: none;
    margin-top: 10px;
  }

  #popit {
    margin-top: 10px;
  }

  
</style>
  
  {% include "network/share.html" %}
<!-- Add pagination links -->
<div class="pagination">
  <span class="step-links">
      {% if page_post.has_previous %}
      <a class="btn btn-primary" href="?page=1"> <<<< </a>
      <a class="btn btn-primary" href="?page={{ page_post.previous_page_number }}">&raquo;</a>
      {% endif %}
      
      {% if page_post.has_next %}
      <a class="btn btn-primary" href="?page={{ page_post.next_page_number }}">&laquo;</a>
      <a class="btn btn-primary" href="?page={{ page_post.paginator.num_pages }}">>>>></a>
      {% endif %}
  </span>
</div>

</div>


  {% endblock %}
