body {
    padding: 10px;
    background-color: rgb(5, 10, 78);
    color: white;
    
}

.watchlist-buttons {
  display: flex;
  align-items: center;
   margin-right: 10px;
   gap: 10px;
}

.bid-buttons {
    display: flex;
  align-items: center;
   margin-right: 10px;
   gap: 10px;
    
}




.card {
    position:relative; top:50px;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: black;
}

.list-group {
    color: black;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.listing-image {
    flex: 0 0 300px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

