{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Display category selection form -->
    <h2>Active Listings</h2>
    <form action="{% url 'displayCategory' %}" method="post">
        {% csrf_token %}
        <label for="category">Choose a category:</label>
            <!-- Display all categories as options in the dropdown menu -->
            <select name="category" id="category">
                {% for cat in category %}
                <option value="{{cat}}">{{cat}}</option>
                {% endfor %}
            </select>
          <button type="select" class="btn btn-warning">Select</button>

    <!-- Display all active listings -->
    <div class="row mx-3">
        {% for listing in listings %}

        <!-- Display each listing as a card -->
        <div class="card" style="width: 18rem;">
            <!-- Display listing image -->
            <img class="card-img-top" src="{{ listing.image.url }}" alt="{{listing.title}}">
          <div class="card-body">
              <!-- Display listing title and description -->

  {% with truncated_text=listing.title|slice:":20" %}
    <h5 class="card-title">{{ truncated_text }}...</h5>
  {% endwith %}


              <!-- Display current bid price -->
              <p class="card-text"><strong>{{listing.currency}}{{listing.price.bid}}</strong></p>
              <!-- Link to the listing page -->
              <a href="{% url 'closedDetails' listing.id %}" class="btn btn-primary">See listing status</a>
          </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}
