{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>


  <!-- Display all listings in the watchlist -->
<div class="row mx-3">
    {% for listing in listings %} 
  
    <!-- Display each listing as a card -->
    <div class="card" style="width: 18rem;">
        <!-- Display listing image -->
        <img class="card-img-top" src="{{ listing.image.url }}" alt="{{listing.title}}">
      <div class="card-body">
          <!-- Display listing title and description -->
          <h5 class="card-title">{{listing.title}}</h5>
          <p class="card-text">{{listing.description}}</p>
          <!-- Link to the listing page -->
          <a href="{% url 'closedDetails' listing.id %}" class="btn btn-primary">See listing status</a>
      </div>
    </div>
    {% endfor %}
</div
      
{% endblock %}